
/*timepicker*/
.time-preview {
    position: absolute;
    box-shadow: 0px 0px 1px 0px #acacac;
    border-radius: 2px;
    margin: 0px 10px 0px 1px;
    cursor: pointer;
}

.time-preview:active {
    transform:scale(.98);
    box-shadow: 0px 0px 2px 0px #acacac;
}

.timepicker {
    position: fixed;
    display: flex;
    background: #fff;
    box-shadow: 0px 0px 10px 0px #acacac;
    padding: 10px;
    border-radius: 3px;
    margin: 5px 0px;
    z-index: 99;
}

.timepicker-wrapper .timepicker-label {    
    font: 14px/40px monospace;
    color: #acacac;
}

.tp-item {
    width: 50px;
    box-shadow: 0px 0px 1px 0px #acacac;
    margin: 0px 10px;
    text-align: center;
    padding: 5px;
}

.tp-item input {
    width: 100% !important;
    border: none;
    outline: none;
    text-align: center;
    margin: 0px !important;
    font: 16px/16px monospace;
    height: 100%;
    box-shadow: 0px 0px 0px 0px !important;
}



.timepicker-wrapper #timepicker-input::-webkit-inner-spin-button {
    display: none;
}

.time-splitter {
    font: 16px/34px monospace;
}


.timepicker button {max-height: 30px;padding: 5px;}

i.button {
    font: 14px/14px monospace;
    background-color: #b5b3b3;
    color: #fff;
    padding: 13px 5px;
    border-radius: 3px;
    cursor: pointer;
}

i.button:hover{
    background-color:#333;
}

.time-preview-wrapper {
    display: block;    
    position:relative;
}

.disabled {
    pointer-events: none;
}

.active{
    z-index:999999;
}